.frame-speechBubbles {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.dino {
    width: 45%;
}

.dino img {
    width: 100%;
}

.speechBubbles {
    background-color: var(--bg-bublles);
    text-align: center;
    width: 70vw;
    border-radius: 10px 60px 60px 60px;
    color: var(--black);
    padding: var(--padding-m);
}